
    main{
        .merch-h1{
            text-align: center;
            margin: 20px;
            background-color: #1b65699f;
            overflow-y: hidden;
        }
        .merch{
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: space-around;
            width: auto;
        }
        
    }